.bg-drk{background: rgb(255,0,21);
    background: linear-gradient(90deg, rgba(255,0,21,1) 0%, rgba(1,5,118,1) 0%, rgba(255,0,162,1) 100%, rgba(226,0,167,1) 100%, rgba(1,32,117,1) 100%);
}
.container{
    text-align: center;
    margin-top: 50px;
}
table{
    margin: auto ;
    margin-top: 20px;
}
input{
    border-radius: 21px;
    border: 5px solid #4c00fc;
    font-size:34px;
}
button{
    font-size: 40px;
    background: #ffffff;
    border-radius: 20px;  
    width: 102px;
    height: 58px;
}
.calculator{
    /* background-color: #ff99f7; */
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
